<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yewon's Shop</title>
</head>
<body>
    <h1>Yewon's Shop</h1>
    <h3>
        상품 <img src="https://media.istockphoto.com/photos/red-apple-picture-id184276818?k=6&m=184276818&s=612x612&w=0&h=Fm2-2w98ahP4jUkj3UjgPa-dIqEHlRrsTxdA_a-Cclk=" width="100px"/>
            <img src="https://5.imimg.com/data5/EE/ER/MY-27568370/fresh-orange-500x500.png" width="100px"/>
            <img src="https://i5.walmartimages.com/asr/209bb8a0-30ab-46be-b38d-58c2feb93e4a_1.1a15fb5bcbecbadd4a45822a11bf6257.jpeg?odnWidth=612&odnHeight=612&odnBg=ffffff" width="100px"/>
            <img src="https://5.imimg.com/data5/IO/GT/GLADMIN-50838747/organic-watermelon-500x500.jpg" width="100px"/>
    </h3>
    <h3>
        가격
    </h3>
    <h3>
        수량 <input type="text" id="firstNumber"/>
    </h3>
</body>
</html>